.comics__container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
}

.comics__item {
    user-select: none;
    max-width: 300px;
    margin: 5rem auto;
    border: 1px solid #ffffff22;
    background-color: #282c34;
    background: linear-gradient(0deg, rgba(40, 44, 52, 1) 0%, rgba(17, 0, 32, .5) 100%);
    box-shadow: 0 7px 20px 5px #00000088;
    border-radius: .7rem;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    overflow: hidden;
    transition: .5s all;

    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 1rem;
    margin: 0 auto;
}

.comics__item::before {
    position: fixed;
    content: "";
    box-shadow: 0 0 100px 40px #ffffffdf;
    top: -10%;
    left: -100%;
    transform: rotate(-45deg);
    height: 60rem;
    transition: .7s all;
}

.comics__item:hover {
    border: 1px solid #ffffff44;
    box-shadow: 0 7px 50px 10px #000000aa;
    transform: scale(1.09);
    filter: brightness(1.3);
}

.comics__item:hover::before {
    filter: brightness(.5);
    top: -100%;
    left: 200%;
}

.comics__img {
    border-radius: .5rem;
    max-width: 100%;
    height: 250px;
    object-fit: cover;
}

.comics__name {
    margin: .5rem 0;
    color: #a89ec9;
}